#map {
    
    overflow:hidden;
    margin: 0;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    border:10px;
    
  }
#map iframe{
    
    top:0;
    left:0;
    width:400px;
    height:400px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1px;
    
}
iframe
#nav {
    margin-bottom: 0px;
}

#twitter{
    padding-left: 10px;
    padding-top: 10px;
}


#weather{
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
    margin-top: 0;
    position: inline;
}

#weather-widget {
    background-color: rgba(21,30,41, 0.9);
    color:white;
    box-shadow: 1px 1px 5px black;
    padding: 40px;
    border-radius: 10px;
 
}

#weather-widget h1 {
    font-size: 40px;
}

#temperature {
    font-size: 30px;
}

#roomTemperature{
    font-size: 30px;
}


#nest{
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
   
}

#nest-widget {
    background-color: rgba(21,30,41, 0.9);
    color:white;
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    
}

#nest-widget h1 {
    font-size: 20px;
}


#weather-nest-block{
    float:left;
    padding:0;
}